# Jupyter Notebook Tutorial
___

## Table of Contents
* [Markdown Cells](#markdown-cells)
    * [Introduction to Markdown Cells](#introduction-to-markdown-cells)
    * [Anchoring](#anchoring)
* [Code Cells](#code-cells)
    * [Introduction to Code Cells](#introduction-to-code-cells)
    * [Restarting the Kernel and Variables](#restarting-the-kernel-and-variables)
    * [Collapsing Cells](#collapsing-cells)
    * [Interrupting the Kernel](#interrupting-the-kernel)
    * [Load Data Using Pandas](#load-data-using-pandas)
    * [Running Bash / Terminal Commands](#running-bash-terminal-commands)
    * [Magic Commands](#magic-commands)
* [Keyboard Shortcuts](#keyboard-shortcuts)

<a id="markdown-cells"></a>
___

# **Markdown Cells**

<a id="introduction-to-markdown-cells"></a>

## **Introduction to Markdown Cells**

This is a markdown cell.

Markdown is basically plain text, except you can **format** it using various special characters.

You can have:
1. Lists (ordered and unordered)
2. Bold text
3. Italic text
4. Code blocks
5. Etc.

Here's an example of a code block:
```
x = "hello world!"

print(x)
```

# This is a Header 1

Here's some text, including _italics_.

## This is a Header 2

Here's some other text, with **more bold**.

>Note: You may notice that jupyter notebooks does the formating while you are typing, so you dont have to wait to execute the cell to see whats happening.

<a id="anchoring"></a>

## **Anchoring**

To create an internal link we need:
1. a destination
```markdown
[Destination](#destination)
```
2. an internal hyperlink to the destination
```markdown
<a id="destination"></a>
```

\
_Note: See this [tutorial](https://nbviewer.jupyter.org/github/rasbt/python_reference/blob/master/tutorials/table_of_contents_ipython.ipynb) for further explination._

<a id="code-cells"></a>
___

# **Code Cells**

<a id="introduction-to-code-cells"></a>

## **Introduction to Code Cells**

In [1]:
#This is a code cell!

In [2]:
#We can use code cells to run python code.
x = "hello world!"

print(x)

hello world!

In [3]:
#Running this cell returns x.
x

'hello world!'

<a id="restarting-the-kernel-and-variables"></a>
___

## **Restarting the Kernel and Variables**

Unlike a normal python script, it is _the order in which the cells are executed that matters_; rather than cell order.
Meaning, if we delete a cell defining some variable, x, we can still access that variable in other cells.
This is because **Jupyter Notebook uses a single python kernel to maintain and store all of the variables used**.
Jupyter Notebook keeps track of this order in the square brackets to the left of each code cell.

In [4]:
#We can use the directory function to list all the variables and methods that are available in the current session.
dir()

['In',
 'Out',
 '_',
 '_3',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [5]:
#We can delete assigned variables from the kernels memory using the delete function.
#If we run dir() after, x should be gone.
del(x)

Just shutting the tab does not close the notebook. It will keep running until we tell it to stop.

We can explicitly **shut down** the notebook:
1. by going to _file_ and selecting _close and hault_
2. from the _dashboard_ by checking the box next to the notebook and clicking _shutdown_
3. from the _terminal_ by deactivating our virtual environment

To **reset** the notebook without shutting it down, go to the kernel tab and click _restart_, effectively rebooting the notebook and deleting the variables from memory.

To **reset an individual cell**, go to cell > current output > clear

<a id="collapsing-cells"></a>

## Collapsing cells

We can collapse cells by **clicking the sidebar**, leaving us with a smaller window that we can scroll through.

In [8]:
for value in range(1000):
    print(value)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779
780
781
782
783
784
785
786
787
788
789
790
791
792
793
794
795
796
797
798
799
800
801
802
803
804
805
806
807
808
809
810
811
812
813
814
815
816
817
818
819
820
821
822
823
824
825
826
827
828
829
830
831
832
833
834
835
836
837
838
839
840
841
842
843
844
845
846
847
848
849
850
851
852
853
854
855
856
857
858
859
860
861
862
863
864
865
866
867
868
869
870
871
872
873
874
875
876
877
878
879
880
881
882
883
884
885
886
887
888
889
890
891
892
893
894
895
896
897
898
899
900
901
902
903
904
905
906
907
908
909
910
911
912
913
914
915
916
917
918
919
920
921
922
923
924
925
926
927
928
929
930
931
932
933
934
935
936
937
938
939
940
941
942
943
944
945
946
947
948
949
950
951
952
953
954
955
956
957
958
959
960
961
962
963
964
965
966
967
968
969
970
971
972
973
974
975
976
977
978
979
980
981
982
983
984
985
986
987
988
989
990
991
992
993
994
995
996
997
998
999

<a id="interrupting-the-kernel"></a>

## **Interrupting the Kernel**

If we make a mistake or accidentally create an infinite while loop, we can **interupt the kernel** by:
1. clicking the _stop button_ in the menue bar
2. going to _kernel_ and selecting _interupt kernel_
3. using the _keyboard shortcut I,I_

In [12]:
import time
while True:
    print(1)
    time.sleep(0.2)

1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1
1

KeyboardInterrupt:

<a id="load-data-using-pandas"></a>

## Load Data Using Pandas

One of the things you will probably be using Jupyter notebooks for is looking at, transforming and cleaning data.
We can download a [real data set](https://www.kaggle.com/ronitf/heart-disease-uci) off of Kaggle, which we can load and view using pandas.

We can add our data from the downloads folder to our current directory from our terminal using the command
```terminal
mv ~/Downloads/heart.csv ~/ProjectDataScience/jupyter-tutorial
```

In [13]:
import pandas as pd

In [14]:
#We can use the terminal command to list out the contents of our directory
ls

Jupyter Tutorial Notebook.ipynb  heart.csv
Untitled.ipynb

In [15]:
df = pd.read_csv("heart.csv")

In [18]:
#To view our data in table form
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [19]:
#To look at the first five rows of data
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

<a id="running-bash-terminal-commands"></a>

## Running Bash / Terminal Commands

Even though code cells are designed to run python code, Jupyter Notebook allows us to run terminal/bash commands.

In [1]:
#Most terminal/bash commands require a special syntax.
!mkdir test-directory

mkdir: test-directory: File exists

In [5]:
#List function does not require special syntax.
!ls

Jupyter Tutorial Notebook.ipynb heart.csv
Untitled.ipynb                  test-directory

In [6]:
#We can use this to install a new package, such as the data visualization library seaborn.
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.11.2-py3-none-any.whl (292 kB)
     |████████████████████████████████| 292 kB 1.2 MB/s eta 0:00:01
Collecting scipy>=1.0
  Downloading scipy-1.7.1-cp39-cp39-macosx_10_9_x86_64.whl (32.8 MB)
     |████████████████████████████████| 32.8 MB 7.7 MB/s eta 0:00:01
Requirement already satisfied: pandas>=0.23 in /Users/ashleycasanova/opt/anaconda3/envs/jupyter-env/lib/python3.9/site-packages (from seaborn) (1.3.2)
Collecting matplotlib>=2.2
  Downloading matplotlib-3.4.3-cp39-cp39-macosx_10_9_x86_64.whl (7.2 MB)
     |████████████████████████████████| 7.2 MB 9.2 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.15 in /Users/ashleycasanova/opt/anaconda3/envs/jupyter-env/lib/python3.9/site-packages (from seaborn) (1.20.3)
Collecting cycler>=0.10
  Downloading cycler-0.10.0-py2.py3-none-any.whl (6.5 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.3.2-cp39-cp39-macosx_10_9_x86_64.whl (61 kB)
     |████████████████████████████████| 61 kB 1.6 MB/s  eta 0:00:01
Requirement already satisfied: pyparsing>=2.2.1 in /Users/ashleycasanova/opt/anaconda3/envs/jupyter-env/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (2.4.7)
Requirement already satisfied: python-dateutil>=2.7 in /Users/ashleycasanova/opt/anaconda3/envs/jupyter-env/lib/python3.9/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Collecting pillow>=6.2.0
  Downloading Pillow-8.3.2-cp39-cp39-macosx_10_10_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 13.6 MB/s eta 0:00:01
Requirement already satisfied: six in /Users/ashleycasanova/opt/anaconda3/envs/jupyter-env/lib/python3.9/site-packages (from cycler>=0.10->matplotlib>=2.2->seaborn) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in /Users/ashleycasanova/opt/anaconda3/envs/jupyter-env/lib/python3.9/site-packages (from pandas>=0.23->seaborn) (2021.1)
Installing collected packages: pillow, kiwisolver, cycler, scipy, matplotlib, seaborn
Successfully installed cycler-0.10.0 kiwisolver-1.3.2 matplotlib-3.4.3 pillow-8.3.2 scipy-1.7.1 seaborn-0.11.2

<a id="magic-commands"></a>

## Magic Commands

Magic commands are special commands, outside of standard python code, available in Jupiter Notebook.

A comprehensive list of built in magic commands can be found [here](https://ipython.readthedocs.io/en/stable/interactive/magics.html).

One useful magic command is **%debug**, which can be a useful diagnostic tool if you accidentally break your code.

For example:

In [7]:
x = "hello world!"
y = True

if y:
    z = 1 / 0

ZeroDivisionError: division by zero

In [ ]:
%debug

> /var/folders/91/blh77fzx03q_26vzlcw788pr0000gn/T/ipykernel_79142/3088821342.py(5)<module>()
      1 x = "hello world!"
      2 y = True
      3
      4 if y:
----> 5     z = 1 / 0

ipdb> y = True
ipdb> z = 1 / 0
*** ZeroDivisionError: division by zero

<a id="keyboard-shortcuts"></a>

## **Keyboard Shortcuts**

We can be much more efficient if we learn a handfull of useful **keyboard shortcuts**.

You can access keyboard shortcuts 
1. from the menue by going to help > keyboard shortcuts
2. using the shortcut H, in command mode

**Useful Keyboard Shortcuts**

|Edit Mode Shortcut|Definition|
|---|---|
|Esc|Enables command mode|
|Command + S|Save and checkpoint|

|Command Mode Shortcut|Definition|
|---|---|
|H|Opens up keyboard shortcuts|
|Enter|Enables edit mode|
|A|Inserts cell above|
|B|Inserts cell below|
|M|Change cell to markdown|
|Y|Change cell to code|
|Shift + Enter|Run cell|
|I,I|Interupt Kernel|
|Command + S|Save and checkpoint|
|S|Save and checkpoint|